[submodule "3rd-party/capstone"]
	path = 3rd-party/capstone
	url = https://github.com/Penguin38/capstone.git
[submodule "3rd-party/xz-utils"]
	path = 3rd-party/xz-utils
	url = https://github.com/Penguin38/xz.git
[submodule "3rd-party/simpleini"]
	path = 3rd-party/simpleini
	url = https://github.com/Penguin38/simpleini.git
