# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: cmake on ubuntu platforms

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        bash ./script/build.sh
        tar -czvf core-parser_1.0.6.tar.gz output/aosp/debug/linux/bin/core-parser

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3
      with:
        name: core-parser_1.0.6_for_ubuntu.tar.gz
        path: core-parser_1.0.6.tar.gz
